# Базовые зависимости
torch
torchvision
torchaudio
torchsde
einops

# Учитывая "transformers>=4.44.1" из вашего списка и 4.39.0,<4.50.0 из парса
transformers>=4.44.1

tokenizers>=0.13.3
sentencepiece
safetensors>=0.3.0
aiohttp

# Ставим accelerate>=1.2.1, т.к. в парсе встречались более высокие версии
accelerate>=1.2.1

pyyaml

# Pillow в парсе упоминался >=9.4.0 и >=10.3.0, берём самую свежую
pillow>=10.3.0

scipy
tqdm
psutil
spandrel
soundfile
kornia>=0.7.1
websocket-client==1.6.3

# В вашем reqs: diffusers>=0.31.0, (в парсе тоже >=0.29.0 и др.)
diffusers>=0.31.0

av
comfyui-frontend-package==1.12.14

# ComfyUI-AdvancedLivePortrait
dill

# Inspire
webcolors

# fix for pydantic issues in cog
# https://github.com/replicate/cog/issues/1623
albumentations==1.4.3

# was-node-suite-comfyui
cmake
imageio
joblib
matplotlib
pilgram
scikit-learn
rembg

# ComfyUI_essentials
numba

# ComfyUI_FizzNodes
pandas
numexpr

# comfyui-reactor-node
insightface
onnx

# ComfyUI-Impact-Pack
segment-anything
piexif

# ComfyUI-Impact-Subpack
ultralytics!=8.0.177

# comfyui_segment_anything
timm

# comfyui_controlnet_aux
importlib_metadata
opencv-python-headless>=4.0.1.24
filelock
numpy<2.0
scikit-image
python-dateutil
mediapipe
svglib
fvcore
yapf
omegaconf
ftfy
addict
yacs
trimesh[easy]

# ComfyUI-KJNodes
librosa
color-matcher

# PuLID
facexlib

# SUPIR
open-clip-torch>=2.24.0
pytorch-lightning>=2.2.1

# Для train.py и custom loras
huggingface_hub[hf-transfer]

# ComfyUI-segment-anything-2
iopath
